<!DOCTYPE html>
<html>
<head>
	<title>Practice</title>
</head>
<body>
	  <ul>
    <% @campuses.each do |campus| %>
      <li><%= campus['campus'] %></li>
    <% end %>
  </ul>
  <p>Click <a href="campus/new">here</a> to add a campus.</p>
</body>
</html>